


/*
 * Table Content
 */

.table-responsive {
    display: inline;
    text-align:center;
     left:50%;
     transform: translate(-8%);
}

@media(min-width:1330px){
    .table-responsive{
        transform: translate(-15%);
    }
}

table {
    display: table;
    width: 100%;
    max-width: 100%;
    text-align: center;
    border-collapse: separate;
}

table th {
    color: white;
    background-color: #f4801f;
    text-align: center;
}


table th#deleteHead {
    color: white;
    background-color: red;
}

table .table-button {
    display: block;
    margin: auto;
    width: 65px;
    height: 25px;
}

table button:hover {
    background-color: #f4801f;
    color: white;
}

table button.deleteButton:hover {
    color: white;
    background-color: red;
}



